body{
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
}
.header{
	display: flex;
	align-items: center;
	height: 55px;
	background: #273B47;
}
.logotipo{
	justify-content: flex-start;
}
.menu{
	display: inline-block;
	position: absolute;
	right: 140px;
}
.menu li{
	display: inline-block;
	line-height: 40px;
	height:40px;
}
.menu a{
	color: white;
	text-decoration: none;
}
.menu span{
	color: white;
	font-size: 18px;
	padding: 0 12px;
}
.seleccionado, .menu a:hover{
	padding-top: 12px;
	border-top: 4px solid #7DCD40;
}
.boton-sesion{
	position: absolute;
	right: 12px;
	background: #FF4842;
	border: none;
	border-bottom: 2px solid #D0272A;
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	padding: 7px 12px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none; 
}
.contenedor{
	width: 1000px;
	margin: auto;	
}
.contenedor-portada{
	background: #EEEEEE;
	margin: 0;
	padding-top: 6px;
}
.portada{
	position: relative;
}
.busqueda{
	margin-bottom: 6px;
	display: flex;
	justify-content: flex-end;
}
.busqueda i{
	font-size: 20px;
	font-weight: bold;
}
.busqueda button{
	height: 38px;
	width: 38px;
	border: none;
	background-color: #333333;
	color: #EEEEEE;
	border-radius: 4px;
	cursor: pointer;
}
.busqueda input{
	margin: 0 4px;
	padding: 0 12px;
	height: 38px;
	border: none;
	border-radius: 4px;
	text-decoration: none;
}
.articulo-principal figure{
	height: 560px;
	width: 1000px;
	margin: 0;
}
.descripcion-principal{
	padding: 0 24px;
	height: 166px;
	width: 506px;
	position: absolute;
	/*background: #EEEEEE;*/
	background-color: rgba(238,238,238, 0.8);
	color: #323232;
	opacity: 0.8;
	left: 20px;
	bottom: 30px;
}
.descripcion-principal h2{
	font-family: 'Lato', sans-serif;
	font-size: 26px;
}
.datos-principal{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.datos-principal span{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
.datos{
	display: flex;
	align-items: center;
}
.datos img{
	margin-right: 12px;
}
.fecha{
	display: inline-block;
}
.articulos-grilla{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-flow: row wrap;
}
.articulo-mini{
	width: 318px;
	margin-top: 30px;
}
.articulo-mini a{
	text-decoration: none;
	color: #515151;
}
.articulo-mini h3{
	margin: 0 0 16px 0;
	font-size: 24px;
}
.datos-mini{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.datos-mini span{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px
}
.paginacion{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 0;
}
.pagina-actual{
	margin-right: 12px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	color: #515151;
}
.numeros a{
	color: #515151;
	text-decoration: none;
	font-weight: bold;
	padding: 6px 12px;
	margin: 0 6px;
	background-color: #EAEAEA;
	border: 1px #CCCCCC solid;
}
.numeros a.activa{
	border: none;
	background-color: white;
}